<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="appmgmt"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="Application Management">
         <property
               name="appName"
               value="Application Management">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://com.musterproject/com.musterproject.E4LifeCycle">
         </property>
         <property
               name="windowImages"
               value="images/notebook_16.gif,images/notebook_32.gif,images/notebook_48.gif,images/notebook_64.gif,images/notebook_128.gif,images/notebook_256.gif">
         </property>
      </product>
   </extension>


</plugin>
